h2.top {
    margin-top: 25px;
  }
  
  .footer {
    
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
  }
  
  .text {
    font-family: "Luxurious Roman", cursive;
    font-size: 10pxpx;
    color:black;
  }
  
  h1 {
      text-align: center;
    }
    
    .cucc {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .link {
      color: rgb(145, 124, 107);
    }
  
    .link:hover {
      color: black;
    }
  
    img {
      border: 1px solid black;
      margin: 30px;
      width: 250px;
      height: 150px;
      display: inline-block;
      transition: 2s;
    }
  
  
    
    
    img:hover {
      width: 400px;
      height: 250px;
    }
    
    div {
      display: inline-block;
    }
  
    
    
   
    body {
      margin: 0;
      font-family: "Luxurious Roman", cursive;
      background-color: gray;
    }

    h3{
        text-align: center;
    }